/* Empty. Add your own CSS if you like */
.loginlogo {
    max-height: 40%;
    max-width: 75%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
body{
    top:30px;
}
.background, .background .pane {
    background-color: #CFD8DC;
}
input::-webkit-input-placeholder {
    color: darkslategray;
   
}
.background .item-complex .item-content , .background .item{
    background-color: #ECEFF1;
    border: 1px solid #00695C;
}

.background .button{
    background-color: #B0BEC5;
    color: black;
    font-weight: 800;
    border: 2px solid #546E7A;
}
.topbar{
    background-color:#455A64;
}
.sidemenubar{
     background-color:#78909C;
}
.title{
    color:white;
}
.background .noborder{
    border: 0px solid #000000 !important;
}
#search-bar {
  background: none;
  width: 100%;
  height: 40px;
  
}
#search-bar .item {
  background: none;
  border: none;
}
#search-input {
  text-align: center;
}
.tabContainer{
    min-height:300px;
    position:relative; 
}
.tabColor{
    background-color:#78909C;
}