<ion-view view-title="View Profile">
    <ion-content class="padding">
        <h1>{{name}}</h1>
        
        <p>{{nfollowers}} followers, following {{nfollowing}}</p>

        <ion-list>
            <ion-item ng-repeat="ps in posts" type="item-text-wrap">

                <h2><b>{{ps.author}} : {{ps.podcast.title}}</b></h2>
                <div class="item item-body">
                    {{ps.comment}}

                </div>
                <div data-tap-disabled="true">
                    <audio id="{{ps._id}}" controls>
                        <source src="{{ps.audiosrc}}" type="audio/mpeg">
                    </audio>
                </div>
            </ion-item>
        </ion-list>

        <div class="tabContainer">
                <ion-tabs class="tabs-striped tabs-top">
                        <ion-tab title="Followers" ui-sref="sidemenu.tab.selfprofile.followers">
                            <ion-nav-view name="tabfollowers"></ion-nav-view>
                        </ion-tab>

                        <ion-tab title="Following" ui-sref="sidemenu.tab.selfprofile.following">
                                <ion-nav-view name="tabfollowing"></ion-nav-view>
                        </ion-tab>
                </ion-tabs>
        </div>

    </ion-content>
</ion-view>