<ion-view view-title="Sign Up">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="user.email">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            
            <label class="item item-input">
                <input type="password" placeholder="Confirm Password" ng-model="user.confirmpassword">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="user.name">
            </label>
            <p>This will be your unique name that others can see.</p>

            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="user.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="user.lastname">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
                Sign Up
            </button>
        </div>
    </ion-content>
</ion-view>