<ion-view view-title="Sign Up">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="user.name">
                
            </label>
            <p style="padding-left: 1.0em;">This will be your unique name that others can see.</p>

            <label class="item item-input">
                <input type="text" placeholder="First Name" ng-model="user.firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Last Name" ng-model="user.lastname">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signUp(user)">
                Sign Up
            </button>
            <button class="button button-block button-positive" ng-click="goToLogin(user)">
                Cancel
            </button>
        </div>
    </ion-content>
</ion-view>