<ion-view view-title="Podcast Feed"> 
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="ps in posts" type="item-text-wrap">

                <h2><b>{{ps.author}} : {{ps.podcast.title}}</b></h2>
                    <div class="item item-body">
                        {{ps.comment}}
                        
                    </div>
                <div data-tap-disabled="true">
                    <audio id="{{ps._id}}" controls>
                        <source src="{{ps.audiosrc}}" type="audio/mpeg">
                    </audio>
                </div>
            </ion-item>
        </ion-list>

           
    </ion-content>
</ion-view>
