<ion-view view-title="Sign-In">
    <ion-content>
        <img class ="loginlogo" src="img/podnetlogoname.png" />
        <p></p>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
                Sign-In
            </button>
            <button class="button button-block button-positive" ng-click="goToSignUp(user)">
                Sign Up
            </button>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>
</ion-view>