<ion-view view-title="Podcast Feed"> 
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="ps in posts" type="item-text-wrap" href="">

                    <div class="item item-divider"><b>{{ps.title}}</b></div>
                    <div class="item item-divider">{{ps.owner}}</div>
                    <div class="item item-body">
                            {{ps.description}}
                    </div>

            </ion-item>
        </ion-list>

           
    </ion-content>
</ion-view>
