<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-stable">

  <!-- Dashboard Tab -->
  <ion-tab class ="tabColor" title="Feed" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/sidemenu/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab class ="tabColor" title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/sidemenu/tab/selfprofile">
    <ion-nav-view name="selfprofile"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab class ="tabColor" title="Search" icon-off="ion-ios-search" icon-on="ion-search" ui-sref="sidemenu.tab.search">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>

    <ion-tab title="OtherProfile" hidden ="true">
        <ion-nav-view name="otherprofile"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Upload" hidden="true">
        <ion-nav-view name="upload"></ion-nav-view>
    </ion-tab>

</ion-tabs>
