<!--
Create tabs with an icon and label, using the tabs-stable style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-stable">

  <!-- Dashboard Tab -->
  <ion-tab title="Feed" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/sidemenu/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/sidemenu/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Following" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/sidemenu/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab href="#/sidemenu/tab/search" hidden="true">
    <ion-nav-view name="search"></ion-nav-view>
  </ion-tab>  
    

</ion-tabs>
