<ion-view view-title="Upload Podcast">
    <ion-content>
        <form action="http://54.183.235.161:8080/api/v1/podcasts/upload" method="post" enctype="multipart/form-data">
            <label class="item item-input">
                <input type="text" placeholder="Title of Podcast" name = "title">
            </label>

            <label class="item item-input">
                <input type="text" placeholder="Podcast Topic" name="topic">
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder="Podcast Description" name="description">
            </label>
            
            <label class="item item-input">
                <input type="text" placeholder={{ownerName}} name="owner">
            </label>
            
            <br />
            <input type="file" name='podcast' placeholder="Select file" />
            <br />
            <button class="button button-block button-positive">
                Upload
            </button>
        </form>

        <!--<button class="button button-block button-positive" ng-click="getPodcastFile()">
            Get Podcast From Music Library
        </button>-->
    </ion-content>
</ion-view>